*
{
    margin:0;
    padding:0;
}

#left_header
{
  float: left;
}

#right_header
{
  float: right;
}

#google_banner
{
  display: block;
  width:70%;
  margin: 100px auto;
  /*margin-top: 100px;*/
  position: relative;
  top: 60px;

}

#input_box
{
  display: block;
  margin: auto;
  position: relative;
  top: 25px;
}

#buttons
{
  text-align: center;
  position: relative;
  top: 40px;
}

button
{
  display: inline-block;

}

footer
{
  margin-top: 30px;
  text-align: center;
  position: relative;
  top: 20px;
}
