*
{
    margin:0;
    padding:0;
}

#left_header
{
  float: left;
}

#right_header
{
  float: right;
}

#google_banner
{
  display: block;
  width:70%;
  margin: 40px auto;
  /*display:flex;
  justify-content: center;*/
}

#input_box
{
  display: block;
  margin:  20px auto;
}

#buttons
{
  text-align: center;
}

button
{
  display: inline-block;

}

footer
{
  margin-top: 30px;
  text-align: center;
}
