*
{
    margin:0;
    padding:0;
}

#left_header
{
  float: left;
}

#right_header
{
  float: right;
}

#left_link
{
  margin-left: 10px;
}

#right_link
{
  margin-right: 10px;
}

#google_banner
{
  display: block;
  width:70%;
  margin: 40px auto;
  /*display:flex;
  justify-content: center;*/
}

#input_box
{
  display: block;
  margin:  20px auto;
}

#buttons
{
  text-align: center;
}

button
{
  display: inline-block;

}

.page_footer
{

}
